---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container-wide {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

.container {
  margin: 0;
  max-width: 1024px;
  padding: 0 10% 0 10%;
  width: 100%;

  @include mobile {
    padding: 0 10px 0 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 0.5em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  margin:1.5em 0 15px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

a.followlink {
  text-transform: uppercase;
  font-size: 15px; 
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 30px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 130px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.logo-upsay {
  width: 200px;
  // height: 140px;
  padding: 10px, 5px;
  margin: 0 0 0 auto;
  // margin-right: 15px;
  // display: inline-block;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 1.0em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 17px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.top-header {
  background-color: $upsay-secondary;
  width: 100%;
  min-height: 30px;
  color: #fff;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $upsay-secondary;
}

footer {
  background-color: $upsay-secondary;
  // background-color: #121315;
  color: #fff;
  font-size: 11px;
  min-height: 80px;
  width: 100%;
}

footer * {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 2em 0em;
}
.row.primary {
  display: grid;
  grid-template-columns: 380px auto;
  align-items: stretch;
  padding: 10px 10% 10px 10%;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3px;
  min-height: 8em;
  justify-content: flex-start;
}
.about p {
  text-align: left;
  line-height: 2;
  margin: 0;
}

//.footer {
//  padding: 20px 0;
//  text-align: left;
//  color: #fff;
//}

.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-instituts {
  border-left: 1px solid;
  margin-left: 0;
  margin-top: 10px;
  line-height: 1.4;
  padding: 0 0 0 5px;
}
strong.footer {
  font-size: 20px;
  line-height: 1.4;
}

.copyright {
  background-color: #25262e; 
  //display: grid;
  //grid-template-columns: 380px auto;
  display: flex;
  flex-direction: row;
  // align-items: stretch;
  padding: 5px 10% 10px 10%; 
}
.footer-menu{
}
.footer-menu a{
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyrightnotice {
  margin-left: auto;
  padding: 6px;
}
@media screen and (max-width: 850px) {
  .container {
    padding: 0 10px;
  }
  .row.primary {
    grid-template-columns: 1fr;
  }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 16vh);
    grid-gap: 5px;
    padding-top:10px;
    border-top: 1px solid #eee;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
	display: block;
}



// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
